@import "./reset.css";
@import "./flex-styles.css";
@import "./header.css";
@import "./footer.css";

main {
  margin: auto;  
}

h2 {
  font-weight: normal;
  padding-top: 25px;
  padding-left: 30px;
  padding-bottom: 10px;
}
article {
  border-radius: 5px;
  width: 45%;
}
main input {
  width: 90%;
  margin-top: 30px;
  margin-left: 5px;
  padding: 5px;
}
main textarea {
  margin-top: 30px;
  width: 82%;
  padding: 25px;
  margin-left: 5px;
}
button {
  background-color: #0f469e;
  color: #fff;
  border-style: none;
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 5px;
  margin-top: 5px;
  align-self: flex-start;
  position: relative;
  left: 362px;
}
main p {
  margin-top: 30px;
  margin-left: 30px;
}
main section {
  display: flex;
  justify-content: space-around;
}
aside {
  text-align: center;
}
aside h2 {
  margin-bottom: 30px;
}
