@import "./reset.css";
@import "./flex-styles.css";
@import "./header.css";
@import "./footer.css";

.black-box {
  border: 0.5em solid black;
  background-color: black;
  color: white;
  margin-right: 1em;
}

.title{
  font-size: 2em;
}