header {
  background-color: #979b93;
}

.buscador {
  width: 40%;
}

.buscador datalist {
  width: 100%;
}

datalist option {
  width: 100%;
}

.buscador input {
  width: 100%;
}

.cart-logo {
  position: relative;
  margin-right: 5%;
}

.cart-counter {
  position: absolute;
  right: 0;
  top: 60%;
  padding: 5%;
  border-radius: 100%;
  background-color: yellow;
}
