@import "./flex-styles.css";

.slider-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.step-section {
  margin: 3%;
  padding: 3%;
}

.step-section article {
  display: inline-block;
  text-align: center;
  width: 33%;
}

.payment-types-section {
  margin: 3%;
  padding: 3%;
}

.payment-types-section article {
  display: inline-block;
  text-align: center;
  width: 33%;
}

.payment-types-title {
  text-align: center;
}
.starred-events-section {
  text-align: center;
  margin: 3%;
}

.starred-events-title {
  text-align: center;
}

.event-card {
  margin: 2.0%;
  padding: 1%;
  width: 300px;
  border: 1px solid rgb(88, 79, 79);
  box-sizing: border-box;
}

.event-img {
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.event-card-date {
  width: 30%;
}

.event-card-date-number {
  display: block;
}

.event-card-content {
  width: 70%;
  text-align: right;
}
.event-card-subtitle {
  display: block;
  margin-bottom: 10px;
}

.event-card-button {
  background-color: #28a745;
  color: white;
  padding: 7px;
  text-decoration: none;
  border-radius: 10px;
}
