@import "./reset.css";
@import "./flex-styles.css";

main {
  background-color: #f7f7f7;
}

.slider-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.step-section {
  margin: 3%;
  padding: 3%;
}

.step-article {
  
}

.starred-events-section {
  text-align: center;
  margin: 3%;
}

.starred-events-title {
  text-align: center;
}

.event-card {
  margin: 2%;
  padding: 1%;
  width: 300px;
  border: 1px solid rgb(88, 79, 79);
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
}

.event-img {
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
  border-radius: 5px;
}

.event-card-date {
  width: 30%;
}

.event-card-date-number {
  display: block;
}

.event-card-content {
  width: 70%;
  text-align: right;
}
.event-card-subtitle {
  display: block;
  margin-bottom: 10px;
}

.event-card-button {
  background-color: #28a745;
  color: white;
  padding: 7px;
  text-decoration: none;
  border-radius: 10px;
}

.payment-types-section {
  margin: 3%;
  padding: 3%;
}

.payment-types-title {
  text-align: center;
}

.payment-type-card {
  margin: 2%;
  padding: 1%;
  width: 50px;
}

.payment-type-card-img {
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
}
