@import "./reset.css";
@import "./flex-styles.css";
@import "./header.css";
@import "./footer.css";
@import "./event-card.css";

.table-section {
  padding: 4%;
}

table {
  margin-top: 2em;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.table-footer {
  margin-top: 2em;
}