.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.no-wrap {
  flex-wrap: nowrap;
}

.flex.center {
  justify-content: center;
}

.flex.between {
  justify-content: space-between;
}

.flex.right {
  justify-content: flex-end;  
}

.flex.middle {
  align-content: center;
  align-items: center;
  align-self: center;
}

.flex.grow {
  flex-grow: 3;
}

.flex.mw-30 {
  width: 30%;
}

.flex.mw-100 {
  width: 100%;
}

.flex.mw-50 {
  width: 50%;
}

.flex.mt-1 {
  margin-top: 1em;
}

.flex.mt-2 {
  margin-top: 2em;
}

.flex.mt-3 {
  margin-top: 3em;
}

.flex.mb-1 {
  margin-bottom: 1em;
}

.flex.mb-2 {
  margin-bottom: 2em;
}

.flex.mb-3 {
  margin-bottom: 3em;
}

.flex.margin {
  margin: 1%;
}

.flex.m-2 {
  margin: 1.5em;
}

.flex.p-1 {
  padding: 0.5em;
}

.flex.p-2 {
  padding: 1.5em;
}

.flex.p-3 {
  padding: 2em;
}

@media screen and (min-width: 47em) {
  .flex.dw-100 {
    width: 100%;
  }

  .flex.dw-50 {
    width: 50%;
  }

  .flex.dw-30 {
    width: 30%;
  }

  .flex.dw-33 {
    width: 33%;
  }
}
