header {
  background-color: #343a40;
}

.brand {
  box-sizing: border-box;
  padding: 0.5%;
}

.buscador {
  width: 35%;
  box-sizing: border-box;
  padding: 1em;
  display: none;
}

.search-box {
  height: 2em;
  width: 100%;
}

nav {
  font-size: 1em;
}

nav li {
  display: inline-block;
  padding: 5px 15px;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: #fff;
}

.cart-logo {
  box-sizing: border-box;
  position: relative;
  display: none;
}

.cart-counter {
  position: absolute;
  right: 0;
  top: 65%;
  border-radius: 100%;
  background-color: white;
  width: 1.5em;
  padding: 0.1em;
  text-align: center;
}

.cart-logo a {
  text-decoration: none;
  color: gray;
}

.cart-logo a:hover {
  color: black;
}

.cart-logo img {
  filter: invert(48%);
}

.cart-logo img:hover {
  filter: invert(100%);
}

.menu {
  display: none;
  position: relative;  
}

.menu-list{
  display: flex;
  flex-direction: column;
  text-align: center;
}

a.hamburger {
  width: 55px;
  height: 55px;
  background-image: url(../../img/hamburger.gif);
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

@media screen and (min-width: 47em) {
  .buscador {
    display: inline-flex;
  }

  .cart-logo {
    display: inline-flex;
  }

  .menu {
    display: block;
  }

  .menu-list{
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  a.hamburger {
    display: none;
  }
}
