header {
  background-color: #343a40;
}

.brand {
  padding: 0.5%;
}

.buscador {
  width: 35%;
}

.search-box {
  height: 2em;
  width: 100%;
}

nav {
  font-size: 1em;
}

nav li {
  display: inline-block;
  padding: 5px 15px;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: #fff;
}

.cart-logo {
  position: relative;
  margin-right: 3em;
}

.cart-counter {
  position: absolute;
  right: 0;
  top: 60%;
  padding: 5%;
  border-radius: 100%;
  background-color: white;
}

.cart-logo a {
  text-decoration: none;
  color: gray;
}

.cart-logo a:hover {
  color: black;
}

.cart-logo img {
  filter: invert(48%);
}

.cart-logo img:hover {
  filter: invert(100%);
}
