@import "../common/reset.css";
@import "../common/flex-styles.css";
@import "../common/header.css";
@import "../common/footer.css";


.black-box {
  border: 0.5em solid black;
  background-color: black;
  color: white;
  margin-right: 1em;
}

.title{
  font-size: 2em;
}