@import "../common/reset.css";
@import "../common/flex-styles.css";
@import "../common/header.css";
@import "../common/footer.css";
@import "../common/event-card.css";

.slider-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.step-section {
  margin: 3%;
  padding: 3%;
}

.starred-events-section {
  text-align: center;
  margin: 3%;
}

.starred-events-title {
  text-align: center;
}

.payment-types-title {
  text-align: center;
}

.payment-type-card {
  margin: 2%;
  padding: 1%;
  width: 50px;
}

.payment-type-card-img {
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
}
